@page "/"
@using System.Net.Http
@inject HttpClient Http
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private List<BookDetails> bookDetails;

    protected override async Task OnInitializedAsync()
    {
        bookDetails = await Http.GetFromJsonAsync<List<BookDetails>>("all-details");
    }

}